# Python Training Example #15 Collection in Python Dictionary - Manipulation Dictionary Pop and Delete

## Create a Dictionary, key must unique

In [16]:
# Create a Dictionary, key must unique
name_dictionary = {'Vincet' : 'Man', 'Adel' : 'Man', 'Kiky' : 'Woman', 'Pandot' : 'Man', 'Depil' : 'Man', 'Mini' : 'Woman', 'Jambrong' : 'Man'} # Create dictionary with {}
name_dictionary

{'Vincet': 'Man',
 'Adel': 'Man',
 'Kiky': 'Woman',
 'Pandot': 'Man',
 'Depil': 'Man',
 'Mini': 'Woman',
 'Jambrong': 'Man'}

## .popitem()

In [18]:
name_dictionary.popitem() # popitem will delete the last key and value

('Jambrong', 'Man')

In [20]:
name_dictionary # key Jambrong and value Man deleted

{'Vincet': 'Man',
 'Adel': 'Man',
 'Kiky': 'Woman',
 'Pandot': 'Man',
 'Depil': 'Man',
 'Mini': 'Woman'}

## .pop()

In [21]:
name_dictionary.pop('Depil') # pop will delete the key and value we want (Key Depil, Value Man)

'Man'

In [23]:
name_dictionary # key Depil and value Man deleted

{'Vincet': 'Man',
 'Adel': 'Man',
 'Kiky': 'Woman',
 'Pandot': 'Man',
 'Mini': 'Woman'}

## del

In [27]:
del name_dictionary['Mini'] # del will delete the key and value we want (Key Mini, Value Woman)

In [29]:
name_dictionary # key Mini and value Woman deleted

{'Vincet': 'Man', 'Adel': 'Man', 'Kiky': 'Woman', 'Pandot': 'Man'}

## Create a Nested Dictionary, key must unique

In [46]:
# Create a nested Dictionary, key must unique
name_nested_dictionary = {
    'Student1' : {'Name' : 'Vincet',
                  'Gender' : 'Man',
                  'BOD' : 1991
                 },
    'Student2' : {'Name' : 'Adel',
                  'Gender' : 'Man',
                  'BOD' : 1992
                 },
    'Student3' : {'Name' : 'Kiky',
                  'Gender' : 'Woman', 
                  'BOD' : 1995
                 },
    'Student4' : {'Name' : 'Pandot',
                  'Gender' : 'Man',
                  'BOD' : 1994
                 },
    'Student5' : {'Name' : 'Depil',
                  'Gender' : 'Man',
                  'BOD' : 1996
                 },
    'Student6' : {'Name' : 'Mini',
                  'Gender' : 'Woman',
                  'BOD' : 1994
                 }, 
    'Student7' : {'Name' : 'Jambrong',
                  'Gender' : 'Man',
                 'BOD' : 1992
                 }
} # Create nested dictionary with {}
name_nested_dictionary

{'Student1': {'Name': 'Vincet', 'Gender': 'Man', 'BOD': 1991},
 'Student2': {'Name': 'Adel', 'Gender': 'Man', 'BOD': 1992},
 'Student3': {'Name': 'Kiky', 'Gender': 'Woman', 'BOD': 1995},
 'Student4': {'Name': 'Pandot', 'Gender': 'Man', 'BOD': 1994},
 'Student5': {'Name': 'Depil', 'Gender': 'Man', 'BOD': 1996},
 'Student6': {'Name': 'Mini', 'Gender': 'Woman', 'BOD': 1994},
 'Student7': {'Name': 'Jambrong', 'Gender': 'Man', 'BOD': 1992}}

## .popitem()

In [47]:
name_nested_dictionary.popitem() # popitem will delete the last key and value

('Student7', {'Name': 'Jambrong', 'Gender': 'Man', 'BOD': 1992})

In [48]:
name_nested_dictionary # key Student 7 and value Name, Gender, and BOD deleted

{'Student1': {'Name': 'Vincet', 'Gender': 'Man', 'BOD': 1991},
 'Student2': {'Name': 'Adel', 'Gender': 'Man', 'BOD': 1992},
 'Student3': {'Name': 'Kiky', 'Gender': 'Woman', 'BOD': 1995},
 'Student4': {'Name': 'Pandot', 'Gender': 'Man', 'BOD': 1994},
 'Student5': {'Name': 'Depil', 'Gender': 'Man', 'BOD': 1996},
 'Student6': {'Name': 'Mini', 'Gender': 'Woman', 'BOD': 1994}}

## .pop()

In [49]:
name_nested_dictionary.pop('Student5') # pop will delete the key and value we want (Key Student5, Values Name, Gender, BOD)

{'Name': 'Depil', 'Gender': 'Man', 'BOD': 1996}

In [50]:
name_nested_dictionary # key Depil and value Man deleted

{'Student1': {'Name': 'Vincet', 'Gender': 'Man', 'BOD': 1991},
 'Student2': {'Name': 'Adel', 'Gender': 'Man', 'BOD': 1992},
 'Student3': {'Name': 'Kiky', 'Gender': 'Woman', 'BOD': 1995},
 'Student4': {'Name': 'Pandot', 'Gender': 'Man', 'BOD': 1994},
 'Student6': {'Name': 'Mini', 'Gender': 'Woman', 'BOD': 1994}}

## del

In [51]:
del name_nested_dictionary['Student4'] # del will delete the key and value we want (Key Student5, Values Name, Gender, BOD)

In [52]:
name_nested_dictionary # key Mini and value Woman deleted

{'Student1': {'Name': 'Vincet', 'Gender': 'Man', 'BOD': 1991},
 'Student2': {'Name': 'Adel', 'Gender': 'Man', 'BOD': 1992},
 'Student3': {'Name': 'Kiky', 'Gender': 'Woman', 'BOD': 1995},
 'Student6': {'Name': 'Mini', 'Gender': 'Woman', 'BOD': 1994}}